
 * {
    background: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
  }
.error h1{
    text-align: center;
  }
  .error a{
    font-size: 60px;
    text-align: center;
    text-decoration: none;

  }
.error img{
    align-content: center;

    max-width: 500px;
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.container-flex {
    /* display: flex; */
    /* flex-flow: row wrap; */
    /* margin: 0 auto; */
    /* justify-content: flex-start; */
    /* align-items: center; */
  }