html,
body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    height: 100%;
}

.container {
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 10px 30px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}

main {
    flex: 1 1 auto;
}

.content {
    position: relative;
    margin-bottom: 35px;
    margin-left: 35px;
    width: 450px;
    height: 450px;
    overflow: hidden;
    border: 1px solid #000;
}

.content-animation {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, .7) ;
    opacity: 0;
}
.content-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color:#fff
}

.content-animation:hover {
    transition: opacity 1s ease;
    opacity: 1;
}

.header {
    position: sticky;
    top: 0;
    justify-content: space-between;
    padding: 15px 70px;
    background-color: #fff;
    z-index: 10;
}

.logo-img {
    width: 100px;
    height: 100px;
}

.name-logo {
    margin: 0;
    margin-left: 10px;
    max-width: 200px;
}

.main-link {
    margin: 0;
    padding: 20px 0;
    width: 100%;
}

.gap-logo {
    padding-left: 30px;
}

.search-bar {
    padding-left: 15px;
    min-width: 450px;
    height: 30px;
}

.nav_link {
    font-size: 20px;
    font-weight: 700;
} 

.nav_link:hover {
    color: rgb(224, 206, 62);
    transition: color .5s ease;
}

.animation-link:hover .logo-img{
    animation: spin 1s linear 0s infinite;
}

.animation-link:hover .animation-logo {
    color: rgb(224, 206, 62);
    transition: color .5s ease;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.nav_link:first-child {
    margin-right: 100px;
}
.discord-logo {
    margin-right: 5px;
}
.discord-link:not(:last-child) {
    margin-right: 15px;
}

.footer__inner {
    justify-content: center;
    padding: 20px 0;
}

.discord-link {
    font-weight: 600;
}

.discord-link:hover {
    color: rgb(224, 206, 62);
    transition: color .5s ease;
}

.flex {
    display: flex;
    align-items: center;
}

.link {
    color: #000;
    text-decoration: none;
}

/*Artist*/
.container-artist {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
.main-logo {
    margin-bottom: 50px;
}

.main-logo img {
    display: block;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    border-radius: 50%;
}

.main-logo h2 {
    text-align: center;
}

.artist-content {
    margin: 0 auto;
    justify-content: space-between;
    align-items: start;
    max-width: 700px;
}


.key-tour {
    text-transform: uppercase;
    font-weight: 700;
}

.status-err {
    margin-top: 150px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

/* .date-value {
    text-align: right;
} */
